<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper 인터페이스에 있는 메서드 여기서 구현하겠다고 연결 -->
<mapper namespace="com.koreait.dbms_study.mapper.PostMapper">
    <insert id="addPost">
        INSERT INTO
            post_tb
        VALUES
            (0, #{title}, #{content}, #{userId}, NOW(), NOW());
    </insert>
    <select id="getPostList">
        SELECT
            *
        FROM
            post_tb;
    </select>
    <select id="getPostByPostId">
        SELECT
            *
        FROM
            post_tb
        WHERE
            post_id = #{postId};
    </select>
    <update id="editPost">
        UPDATE
            post_tb
        SET
            title = #{title},
            content = #{content},
            user_id = #{userId},
            update_dt = NOW()
        WHERE
            post_id = #{postId};
    </update>
    <delete id="deletePost">
        DELETE FROM
            post_tb
        WHERE
            post_id = #{postId};
    </delete>
</mapper>